<div class="col-lg-6 col-md-12">
    <div class="card">
        <div class="card-header" data-background-color="gray-4">
            <h4 class="title">Suas Notificações</h4>
            <p *ngIf="notifications?.length > 0" class="category">{{lengthNotification}}</p>
            <p *ngIf="notifications?.length <= 0" class="category">Você não possuí nenhuma notificação no momento.</p>
        </div>

        <div *ngIf="notifications?.length > 0" class="card-content table-responsive">
            <td-expansion-panel>
                <table class="table table-hover">
                    <thead class="text-gray">
                        <th>Jogador</th>
                        <th>Notificação</th>
                    </thead>
                    <tbody>
                        <tr *ngFor="let not of notifications">
                            <td>{{ not.playerName }}</td>
                            <td>{{ not.notification }}</td>
                        </tr>
                    </tbody>
                </table>
                <div class="card-footer">
                    <button mat-raised-button routerLink="/notification/list" class="background-gray-4" title="Atualizar">Ver Todas</button>
                </div>
            </td-expansion-panel>
        </div>

    </div>
</div>