<div class="col-md-12">
    <div class="card">
        <div layout="row" layout-align="start center" class="pad-left-sm pad-right-sm">
            <span *ngIf="!searchBox.searchVisible" class="push-left-sm">
    <span class="mat-title">Pesquisar</span>
            </span>
            <span *ngIf="!searchBox.searchVisible" class="push-left-sm">
    <span *ngIf="(selectable && !selectedRows.length) || !selectable" class="mat-title"></span>
            <span *ngIf="selectedRows.length && selectable" class="mat-body-1">0 notificações(s) selecionadas</span>
            </span>
            <td-search-box #searchBox backIcon="arrow_back" class="push-right-sm" placeholder="Pesquisar..." (searchDebounce)="search($event)"
                flex>
            </td-search-box>
        </div>
    </div>
</div>
<mat-divider></mat-divider>

<div class="col-md-12">
    <button mat-raised-button (click)="isReadAll(team.id)" class="background-gray-4" title="Excluir Todas">Excluir Todas</button>
</div>

<div class="col-md-12">
    <div class="card">
        <td-data-table #dataTable [data]="filteredData" [columns]="columns" [(ngModel)]="selectedRows" (rowSelect)="isRead($event)"
            [style.height.px]="200">
            <ng-template tdDataTableTemplate="read" let-value="value" let-row="row" let-column="column">
                <div layout="row">
                    <span><mat-checkbox color="primary" [checked]="false" (change)="isRead(row.id)" [align]="center" class="text-center"></mat-checkbox></span>
                </div>
            </ng-template>
        </td-data-table>
    </div>
</div>
<div class="col-md-12">
    <div class="card">
        <div class="mat-padding" layout="row" layout-align="center center" *tdLoading="'overlayStarSyntax'; mode:'indeterminate'; type:'circle'; strategy:'overlay'; color:'primary'">
        </div>
    </div>
</div>
<div class="col-md-12">
    <div class="card">
        <td-paging-bar #pagingBar [total]="notificationRest.totalElements" [pageSize]="20" (change)="page($event)">
            {{pagingBar.range}} <span hide-xs>de {{notificationRest.totalElements}}</span>
        </td-paging-bar>
    </div>
</div>

